<?xml version="1.0" encoding="UTF-8"?>
<web-app id="bz10m" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Sasa2GTFS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>Debug</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>ioServlet</servlet-name>
		<servlet-class> it.unibz.inf.dis.sasa2gtfs.servlet.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ioServlet</servlet-name>
		<url-pattern>/ioServlet</url-pattern>
	</servlet-mapping>
</web-app>